@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 45, 52, 63;
  --background-rgb: 248, 249, 250;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
html {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  height: 100%;
  width: 100%;
  --page-padding: calc(100vw * 0.15);
  --top-padding: calc(var(--page-padding) + 16px);
  --top-logo-width: 50%;
}

@media screen and (max-width: 768px) {
  /* Adjust the breakpoint (768px) as needed */
  body {
    --page-padding: 0px;
    --top-padding: 16px;
    --top-logo-width: 80%;
  }
}
